// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Layouts
@import 'layouts/sidenav';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// #app {
//     display: flex;
//     flex-flow: row wrap;
// }

.app__custom {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 55px 100%;

}

.center {
    margin: 0 auto;
}



// --- Top Nav --- //
nav {
    // height: 55px;
    grid-column: 1/3;
    grid-template-rows: 100vh;
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}




// --- Sidenav --- //
.sidenav {
    height: 100vh;
    background-color: #031927;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 25px;
}

.sidenav ul a {
    text-decoration: none;
}

.sidenav ul li {
    color: white;
    padding: 15px;
    padding-left: 25px;
    border-bottom: 2px solid #233D4D;
    font-size: 12pt;
}

.sidenav ul li:hover {
    color: #FE7F2D;
}



// --- Card --- //
.card {
    border: none;
    margin: 40px;
    border-radius: 3px;
    box-shadow: 0px 1px 5px 1px #ccc;
}

.card__header {
    margin-top: 15px;
    margin-left: 20px;
}

.card__content {
    margin-top: 10px;
    margin-left: 20px;
}



// --- Pagination --- //
.text-center {
    margin: 0 auto;
    text-align: center;
}



// --- Dashboard Content --- //
.container__dashboard {
    padding: 0;
    margin: 0;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 300px 1fr;
}

.short {
    grid-row: 1/2;
}

.long-first {
    grid-column: 1/3
}

.long-last {
    grid-column: 3/5;
}



// --- Create pages --- //




// --- Table design --- //
.table {
    
}

.table thead {
    background-color: #031927;
    color: white;
}

.page-item a {
    color: #031927;
}

.page-item.active .page-link {
    background-color: #031927;
    border-color: #031927;
}

.create {
    padding: 50px;
}